<!doctype html>
<html>
	<head>
		<% include includes/head %>
    <style>
      .truncate {
          width: 250px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
    </style>
	</head>
	<body>
<% include includes/topbar %>
			<div class="row callout training-callout small-up-12 medium-up-8 large-up-9">
								<h4 align="center"><%= videoList["name"] %></h4>
 			     <div class="responsive-embed"><embed class="row" src="http://player.youku.com/player.php/sid/<%= id %>>/v.swf" quality="high" align="center" allowScriptAccess="sameDomain" type="application/x-shockwave-flash"></embed></div>
								<hr>
								<p><%= videoList["description"] %>  </p>
					</div>

	<div class="row">
	<div class="medium-6 columns">
	<h3>Contact Me</h3>
	<p>专注智能工业的教育平台</p>
	<ul class="menu">
	<li><a href="#">微信</a></li>
	</ul>
	</div>
	<div class="medium-6 columns">
	<label>Name
	<input type="text" placeholder="Name">
	</label>
	<label>Email
	<input type="text" placeholder="Email">
	</label>
	<label>
	Message
	<textarea placeholder="holla at a designerd"></textarea>
	</label>
	<input type="submit" class="button expanded" value="Submit">
	</div>
	</div>
	</div>
</div>

<% include includes/js %>
<% include includes/foundation %>
<script>
$("[data-menu-underline-from-center] a").addClass("underline-from-center");
</script>


	</body>
</html> 
